{% load static %}
<html>

<head>
    {% load panel_tags %}
    {% blog_name as name %}
    <title>{% block title %}{{ name }} Panel{% endblock %}</title>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/favicons/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/panel.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/editor.css' %}" />
    {% endblock %}
</head>

<body>

    <div class="wrapper">
        {% block sidebar %}
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/">{{ name }}</a></h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                <li>
                    <a href="{% url 'panel:index' %}">Home</a>
                </li>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'panel:posts' %}">All Posts</a>
                    </li>
                    <li><a href="{% url 'panel:statics' %}">Statics</a></li>
                    <hr style="background-color: white;" />
                {% all_categories as categories %}
                    {% if categories|length < 5 %}
                        <li>
                            <h5 style="padding: 10px;">Categories</h5>
                        </li>
                        {% for category in categories %}
                            <li><a href="{% url 'panel:category' category.id %}">{{ category }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <a href="#bookingSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">Categories</a>
                            <ul class="collapse list-unstyled" id="bookingSubmenu">
                                {% for category in categories %}
                                <li><a href="{% url 'panel:category' category.id %}">{{ category }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                <hr style="background-color: white;" />
                <p style="font-size: 14px;">Made with <span style="color: red"><i class="fas fa-heart"></i></span> by <a
                        href="https://tugcan.net"> Tugcan Olgun</a></p>
                {% if user.is_authenticated %}
                    <p>{{ user.username }} - <a href="{% url 'logout' %}">Logout</a></p>
                {% else %}
                    <p><a href="{% url 'login' %}">Please Login</a></p>
                {% endif %}
        </nav>
        </ul>
        {% endblock %}
        <div id="content-main">
            <div class="container-fluid navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-light">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'blog/js/sidebar.js' %}"></script>
    <script src="{% static 'blog/js/modal.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script> -->

    {% endblock %}
</body>

</html>