{% extends 'panel/base.html' %}
{% load static %}
{% block head %}
{{ block.super }}

    <link rel="stylesheet" href="{% static 'blog/css/cards.css' %}" />
{% endblock %}
{% block content %}
    <h1>Under development</h1>
    <p>There may be bugs here and there. It would be great if you could let me know about these issues by writing to <a href="mailto:tugcan@tugcan.net">tugcan[at].tugcan.net</a></p>
            <!-- <div class="col-md-4 col-xl-3">
                <div class="card {% cycle 'bg-c-yellow' 'bg-c-green' 'bg-c-pink' 'bg-c-blue' 'bg-c-orange' %} order-card">
                    <div class="card-block">
                        <h5 class="m-b-20">Total number of posts</h5>
                        <h2 class="text-right"><i style="margin-top: 6px;" class="fas fa-scroll f-left"></i><span>4</span></h2>
                        <p class="m-b-0"><span class="f-right">7 not published</span></p>
                    </div>
                </div>
            </div> -->
{% endblock %}
